# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets
.env
*.pem
*.key
*.pfx
*.cer
secrets.json
appsettings.*.json

# OS / IDE
.vscode/
.DS_Store
Thumbs.db
